*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0f0f;
  color: white;
  margin-left: 100px;
}


/* =======================================================================================INDEX=================================================================================================== */

/*_________________________________________________________________________________________NAV_____________________________________________________________________________________________*/

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
}

/* =======================
         LOGO
======================= */

.logo_nav {
  position: relative;
  width: 180px; /* ajustá al tamaño de tu logo */
  height: 180px; /* ajustá según proporción */
}

.logo_nav img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: -2rem;
}

/* primer logo (blanco) */
.logo_nav img:nth-child(1) {
  opacity: 1;
}

/* segundo logo (celeste) */
.logo_nav img:nth-child(2) {
  opacity: 0;
}

/* hover */
.logo_nav:hover img:nth-child(1) {
  opacity: 0;
  transform: scale(1.05);
}

.logo_nav:hover img:nth-child(2) {
  opacity: 1;
  transform: scale(1.05);
}


/* =======================
         MENÚ
======================= */

.menus_nav{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -200px;
}

.menus_nav a{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menus_nav a:hover{
  color: #00fffc;
  transform: rotate(180deg) scale(1.08);
}

/* =======================
      REDES SOCIALES
======================= */

.social_nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

/* Contenedor de cada ícono */
.mail_nav,
.youtube_nav,
.behance_nav{
  position: relative;
  width: 30px;
  height: 30px;
}

/* Las dos imágenes ocupan el mismo lugar */
.social_nav img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Imagen gris visible */
.social_nav img:nth-child(1){
  opacity: 1;
}

/* Imagen celeste oculta */
.social_nav img:nth-child(2){
  opacity: 0;
}

/* Hover: desaparece la gris */
.mail_nav:hover img:nth-child(1),
.youtube_nav:hover img:nth-child(1),
.behance_nav:hover img:nth-child(1){
  opacity: 0;
  transform: scale(1.15);
}

/* Hover: aparece la celeste */
.mail_nav:hover img:nth-child(2),
.youtube_nav:hover img:nth-child(2),
.behance_nav:hover img:nth-child(2){
  opacity: 1;
  transform: scale(1.15);
}

/*__________________________________________________________________________________________INICIO_________________________________________________________________________________________*/

.inicio{
  min-height:100vh;
  display:flex;
  align-items:center;
  padding-left:12%;
  background:#111;
}

.inicio_contenido{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

.nombre_inicio h1{
  margin:0;
  color:#fff;
  font-size:clamp(70px,9vw,150px);
  font-weight:700;
  line-height:.9;
  letter-spacing:-2px;
}

.roles_inicio{
  margin-top:25px;
  display:flex;
  align-items:center;
  margin-left: 7px;
}

.roles_inicio::after{
  content:"";
  width:260px;
  height:1px;
  background:#ffffff;
  margin-left:5px;
}

.roles_inicio h2{
  width: 250px;
  position:relative;
  display:inline-block;
  margin:0;
  color:#fff;
  font-size:30px;
  font-weight:300;
  letter-spacing:1px;
}

.roles_inicio h2::after{
  content:"";
  position:absolute;
  inset:0;
  background:#23d4ef;
  transform:scaleX(0);
  transform-origin:left;
  pointer-events:none;
}

.roles_inicio h2.wipe::after{
  animation:wipe .8s ease forwards;
}

@keyframes wipe{
  0%{
        transform:scaleX(0);
        transform-origin:left;
    }

    45%{
        transform:scaleX(1);
        transform-origin:left;
    }

    46%{
        transform-origin:right;
    }

    100%{
        transform:scaleX(0);
        transform-origin:right;
    }

}

/*_________________________________________________________________________________________PRESENTACION____________________________________________________________________________________*/

.presentacion{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 10%;
  background: #0f0f0f;
}

.presentacion_imagen{
  flex:1;
  display:flex;
  justify-content:center;
}

.presentacion_imagen img{
  width:100%;
  max-width:700px;
  object-fit:cover;
}

.presentacion_info{
  flex:1;
  max-width:650px;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

.presentacion_info h1{
  margin:0;
  font-size:clamp(65px,6vw,110px);
  font-weight:700;
  line-height:.95;
  letter-spacing:-3px;
  color: white;
}

.presentacion_info h2{
  margin-top:35px;
  font-size:22px;
  font-weight:400;
  line-height:1.7;
  color: white;
}

.btn_cv{
  margin-top:40px;
  display:inline-flex;
  align-items:center;
  gap:18px;
  padding:18px 38px;
  background:#23d4ef;
  color:#111;
  text-decoration:none;
  font-size:18px;
  font-weight:600;
  clip-path:polygon(
      0 0,
      100% 0,
      100% 78%,
      94% 100%,
      0 100%
    );
  transition:.3s;
}

.btn_cv span{
  font-size:28px;
  transition:.3s;
}

.btn_cv:hover{
  transform:translateX(8px);
  background:#42dcf3;
}

.btn_cv:hover span{
  transform:translateX(8px);
}

.btn_cv{
  align-self: flex-start !important;
}

/*________________________________________________________________________________________PROYECTOS________________________________________________________________________________________*/

.proyectos{
  min-height:150vh;
  display:flex;
  flex-direction:column;
}

.categoria{
  position:relative;
  flex:1;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
}

.categoria video{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  filter:grayscale(100%) brightness(.35);
  transition:.6s;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.25);
  transition:.6s;
}

.categoria h1{
  position:relative;
  z-index:2;
  color:white;
  font-size:clamp(55px,6vw,110px);
  letter-spacing:4px;
  transition:.5s;
}

.categoria:hover video{
  filter:grayscale(0%) brightness(.8);
  transform:scale(1.05);
}

.categoria:hover .overlay{
  background:rgba(0,0,0,.1);
}

.categoria:hover h1{
  color:#23d4ef;
  letter-spacing:8px;
}

/*________________________________________________________________________________________CONTACTOS________________________________________________________________________________________*/

.contactos{
    min-height:40vh;
    background:#111111;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:120px 10%;
}

.contactos h1{
    color:white;
    font-size:clamp(60px,6vw,110px);
    margin-bottom:25px;
    letter-spacing:-2px;
}

.contactos p{
    color:#bcbcbc;
    font-size:22px;
    max-width:750px;
    line-height:1.7;
}

.contactos_iconos{
    display:flex;
    gap:45px;
    margin-top:70px;
    flex-wrap:wrap;
    justify-content:center;
}

.contactos_iconos a{
    position:relative;
    width:55px;
    height:55px;
}

.contactos_iconos img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:contain;
    transition:.35s ease;
}

.contactos_iconos .gris{
    opacity:1;
}

.contactos_iconos .celeste{
    opacity:0;
}

.contactos_iconos a:hover .gris{
    opacity:0;
    transform:scale(1.25);
}

.contactos_iconos a:hover .celeste{
    opacity:1;
    transform:scale(1.25);
}


.footer p{
    color:#666;
    font-size:15px;
    letter-spacing:1px;
}

/* =======================================================================================
                         RESPONSIVE - CELULAR
======================================================================================= */

@media (max-width: 768px){

    /* =====================================================
                        GENERAL
    ===================================================== */

    html{
        scroll-padding-top:80px;
    }

    body{
        margin-left:0;
        overflow-x:hidden;
    }


    /* =====================================================
                          NAV
    ===================================================== */

    nav{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:70px;

        padding:0 18px;

        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;

        z-index:1000;
    }


    /* =======================
            LOGO
    ======================= */

    .logo_nav{
        width:55px;
        height:55px;
        flex-shrink:0;
    }

    .logo_nav img{
        width:100%;
        height:100%;
        margin-top:0;
    }


    /* =======================
             MENÚ
    ======================= */

    .menus_nav{
        display:flex;
        flex-direction:row;
        align-items:center;

        gap:18px;
        margin:0;
    }

    .menus_nav a{
        writing-mode:horizontal-tb;
        transform:none;

        color:#fff;
        font-size:13px;
        font-weight:600;
        letter-spacing:.5px;
        white-space:nowrap;
    }

    .menus_nav a:hover{
        color:#00fffc;
        transform:scale(1.05);
    }


    /* =======================
          REDES SOCIALES
    ======================= */

    .social_nav{
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .mail_nav{
        width:24px;
        height:24px;
    }


    /* =====================================================
                         INICIO
    ===================================================== */

    .inicio{
        min-height:100vh;

        padding:0 25px;

        display:flex;
        align-items:center;
        justify-content:center;
    }

    .inicio_contenido{
        width:100%;
        align-items:flex-start;
    }

    .nombre_inicio h1{
        font-size:clamp(52px,14vw,90px);
        line-height:.95;
        letter-spacing:-3px;
    }

    .roles_inicio{
        margin-top:25px;
        margin-left:3px;
        width:100%;
    }

    .roles_inicio h2{
        width:auto;
        font-size:22px;
        letter-spacing:.5px;
        white-space:nowrap;
    }

    .roles_inicio::after{
        width:100%;
        max-width:100px;
    }


    /* =====================================================
                       PRESENTACIÓN
    ===================================================== */

    .presentacion{
        min-height:auto;

        display:flex;
        flex-direction:column;

        justify-content:center;
        align-items:center;

        padding:100px 25px;
        gap:50px;
    }

    .presentacion_imagen{
        width:100%;
    }

    .presentacion_imagen img{
        width:100%;
        max-width:500px;
        height:auto;
    }

    .presentacion_info{
        width:100%;
        max-width:650px;

        align-items:flex-start;
    }

    .presentacion_info h1{
        font-size:clamp(50px,13vw,80px);
        letter-spacing:-2px;
    }

    .presentacion_info h2{
        margin-top:25px;

        font-size:17px;
        line-height:1.7;
    }

    .btn_cv{
        margin-top:30px;
        padding:15px 30px;
        font-size:16px;
    }

    .btn_cv span{
        font-size:24px;
    }


    /* =====================================================
                         PROYECTOS
    ===================================================== */

    .proyectos{
        min-height:100vh;
    }

    .categoria{
        min-height:50vh;
        flex:none;
    }

    .categoria h1{
        text-align:center;
        font-size:clamp(38px,10vw,65px);
        letter-spacing:2px;
        padding:0 20px;
    }

    .categoria:hover h1{
        letter-spacing:4px;
    }


    /* =====================================================
                         CONTACTOS
    ===================================================== */

    .contactos{
        min-height:auto;

        padding:100px 25px;
    }

    .contactos h1{
        font-size:clamp(45px,12vw,75px);
        line-height:1;
        letter-spacing:-2px;

        margin-bottom:25px;
    }

    .contactos p{
        font-size:17px;
        line-height:1.7;
        max-width:600px;
    }

    .contactos_iconos{
        gap:35px;
        margin-top:50px;
    }

    .contactos_iconos a{
        width:45px;
        height:45px;
    }


    /* =====================================================
                           FOOTER
    ===================================================== */

    .footer{
        padding:25px 20px;
        text-align:center;
    }

    .footer p{
        font-size:12px;
        line-height:1.5;
    }

}

/* =======================================================================================AUDIOVISUAL=================================================================================================== */
.trabajos {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.trabajos img {
  border-radius: 50px;
}

.trabajos_fila_1 {
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.trabajos_fila_2 {
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 3rem;
}

.trabajos_fila_3 {
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 3rem;
}


.prueba_1 {
  position: relative;
  width: 600px;
  overflow: hidden;
  transition: transform 0.4s ease;
}


.prueba_1_fondo {
  width: 100%;
  display: block;
  transition: filter 0.4s ease;
}

.prueba_1_titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.prueba_1:hover {
  transform: scale(1.05);
}

.prueba_1:hover .prueba_1_fondo {
  filter: grayscale(100%);
}


.prueba_2 {
  position: relative;
  width: 600px;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.prueba_2_fondo {
  width: 100%;
  display: block;
  transition: filter 0.4s ease;
}

.prueba_2_titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.prueba_2:hover {
  transform: scale(1.05);
}

.prueba_2:hover .prueba_2_fondo {
  filter: grayscale(100%);
}

.prueba_3 {
  position: relative;
  width: 600px;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.prueba_3_fondo {
  width: 100%;
  display: block;
  transition: filter 0.4s ease;
}

.prueba_3_titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

.prueba_3:hover {
  transform: scale(1.05);
}

.prueba_3:hover .prueba_3_fondo {
  filter: grayscale(100%);
}

.prueba_4 {
  position: relative;
  width: 600px;
  overflow: hidden;
  transition: transform 0.4s ease;
}


.prueba_4_fondo {
  width: 100%;
  display: block;
  transition: filter 0.4s ease;
}

.prueba_4_titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}

.prueba_4:hover {
  transform: scale(1.05);
}

.prueba_4:hover .prueba_4_fondo {
  filter: grayscale(100%);
}


.prueba_5 {
  position: relative;
  width: 600px;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.prueba_5_fondo {
  width: 100%;
  display: block;
  transition: filter 0.4s ease;
}

.prueba_5_titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}

.prueba_5:hover {
  transform: scale(1.05);
}

.prueba_5:hover .prueba_5_fondo {
  filter: grayscale(100%);
}

.prueba_6 {
  position: relative;
  width: 600px;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.prueba_6_fondo {
  width: 100%;
  display: block;
  transition: filter 0.4s ease;
}

.prueba_6_titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.prueba_6:hover {
  transform: scale(1.05);
}

.prueba_6:hover .prueba_6_fondo {
  filter: grayscale(100%);
}

.prueba_7 {
  position: relative;
  width: 600px;
  overflow: hidden;
  transition: transform 0.4s ease;
}


.prueba_7_fondo {
  width: 100%;
  display: block;
  transition: filter 0.4s ease;
}

.prueba_7_titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}

.prueba_7:hover {
  transform: scale(1.05);
}

.prueba_7:hover .prueba_7_fondo {
  filter: grayscale(100%);
}


.prueba_8 {
  position: relative;
  width: 600px;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.prueba_8_fondo {
  width: 100%;
  display: block;
  transition: filter 0.4s ease;
}

.prueba_8_titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.prueba_8:hover {
  transform: scale(1.05);
}

.prueba_8:hover .prueba_8_fondo {
  filter: grayscale(100%);
}

.prueba_9 {
  position: relative;
  width: 600px;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.prueba_9_fondo {
  width: 100%;
  display: block;
  transition: filter 0.4s ease;
}

.prueba_9_titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.prueba_9:hover {
  transform: scale(1.05);
}

.prueba_9:hover .prueba_9_fondo {
  filter: grayscale(100%);
}

/* =======================================================================================
                         RESPONSIVE - AUDIOVISUAL
======================================================================================= */

@media (max-width: 768px){

    /* =====================================================
                         CONTENEDOR
    ===================================================== */

    .trabajos{
        margin-top: 6rem;
        margin-bottom: 3rem;
        width: 100%;
    }


    /* =====================================================
                       FILAS
    ===================================================== */

    .trabajos_fila_1,
    .trabajos_fila_2,
    .trabajos_fila_3{

        padding: 0 20px;

        display: flex;
        flex-direction: column;

        align-items: center;

        gap: 25px;

        margin-top: 0;
    }


    /* =====================================================
                     TARJETAS / PROYECTOS
    ===================================================== */

    .prueba_1,
    .prueba_2,
    .prueba_3,
    .prueba_4,
    .prueba_5,
    .prueba_6,
    .prueba_7,
    .prueba_8,
    .prueba_9{

        width: 100%;
        max-width: 600px;

        overflow: hidden;
    }


    /* =====================================================
                     IMAGEN DE FONDO
    ===================================================== */

    .prueba_1_fondo,
    .prueba_2_fondo,
    .prueba_3_fondo,
    .prueba_4_fondo,
    .prueba_5_fondo,
    .prueba_6_fondo,
    .prueba_7_fondo,
    .prueba_8_fondo,
    .prueba_9_fondo{

        width: 100%;
        height: auto;
        display: block;
    }


    /* =====================================================
                     TÍTULOS
    ===================================================== */

    .prueba_1_titulo,
    .prueba_2_titulo,
    .prueba_3_titulo,
    .prueba_4_titulo,
    .prueba_5_titulo,
    .prueba_6_titulo,
    .prueba_7_titulo,
    .prueba_8_titulo,
    .prueba_9_titulo{

        width: 80%;
        max-width: 500px;
    }


    /* =====================================================
                         HOVER
    ===================================================== */

    .prueba_1:hover,
    .prueba_2:hover,
    .prueba_3:hover,
    .prueba_4:hover,
    .prueba_5:hover,
    .prueba_6:hover,
    .prueba_7:hover,
    .prueba_8:hover,
    .prueba_9:hover{

        transform: scale(1.02);
    }

}

html{
    scroll-behavior: smooth;
}


/*__________________________________________________________________________________PROYECTOS AUDIOVISUAL__________________________________________________________________________________*/


.proyecto_video {
  position: relative;
  width: 100%;
  height: 60rem;
  cursor: pointer;
  overflow: hidden;
}

.video_thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video_boton {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.video_boton::before {
  content: "";
  position: absolute;
  left: 32px;
  top: 22px;
  border-style: solid;
  border-width: 18px 0 18px 28px;
  border-color: transparent transparent transparent white;
}

.proyecto_imagenes {
  position: relative;
}

.proyecto_descripcion{
    width: min(1000px, 90%);
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: -1rem;
}

/*-----------------------------------------*/
/* TITULO */
/*-----------------------------------------*/

.proyecto_titulo h1{
    font-size: clamp(3rem, 7vw, 6rem);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: white;
}

.proyecto_titulo_a_tus_pies img{
  width: 600px;
  margin-left: -2rem;
}

.proyecto_subtitulo_a_tus_pies{
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.proyecto_subtitulo_a_tus_pies h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_ferrari img{
  width: 600px;
  margin-left: -3.5rem;
}

.proyecto_subtitulo_ferrari {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.proyecto_subtitulo_ferrari h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_la_ultima_mano img{
  width: 600px;
}

.proyecto_subtitulo_la_ultima_mano {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.proyecto_subtitulo_la_ultima_mano h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_nostalgia img{
  width: 700px;
  margin-left: -4rem;
  margin-bottom: -2rem;
}

.proyecto_subtitulo_nostalgia {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.proyecto_subtitulo_nostalgia h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_please_me img{
  width: 500px;
  margin-bottom: 3rem;
}

.proyecto_subtitulo_please_me {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.proyecto_subtitulo_please_me h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_take_my_mind img{
  width: 500px;
  margin-left: -3rem;
}

.proyecto_subtitulo_take_my_mind {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.proyecto_subtitulo_take_my_mind h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_take_on_me img{
  width: 400px;
  margin-left: -2rem;
  margin-bottom: -3rem;
  margin-top: -5rem;
}

.proyecto_subtitulo_take_on_me {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.proyecto_subtitulo_take_on_me h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_tasm2 img{
  width: 600px;
}

.proyecto_subtitulo_tasm2 {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.proyecto_subtitulo_tasm2 h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_verstappen_v_hamilton img{
  width: 500px;
  margin-bottom: -10rem;
  margin-top: -10rem;
  margin-left: -2rem;
}

.proyecto_subtitulo_verstappen_v_hamilton {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.proyecto_subtitulo_verstappen_v_hamilton h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}
/*-----------------------------------------*/
/* DESCRIPCIONES */
/*-----------------------------------------*/

.proyecto_descripcion_1,
.proyecto_descripcion_2,
.proyecto_descripcion_3,
.proyecto_descripcion_4,
.proyecto_descripcion_5{

    max-width: 850px;
}

.proyecto_descripcion h2{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.9;
    color: #d4d4d4;
}

/*-----------------------------------------*/
/* LISTAS */
/*-----------------------------------------*/

.proyecto_lista_1,
.proyecto_lista_2,
.proyecto_lista_3{

    border-left: 2px solid #ffffff20;
    padding-left: 22px;
}

.proyecto_lista_1 h2,
.proyecto_lista_2 h2,
.proyecto_lista_3 h2{

    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 18px;
    color: white;
}

.proyecto_lista_1 ul,
.proyecto_lista_2 ul,
.proyecto_lista_3 ul{

    list-style: none;
    padding: 0;
    margin: 0;
}

.proyecto_lista_1 li,
.proyecto_lista_2 li,
.proyecto_lista_3 li{

    color: #bdbdbd;
    margin-bottom: 12px;
    font-size: .95rem;
    line-height: 1.6;
    position: relative;
    padding-left: 18px;
}

.proyecto_lista_1 li::before,
.proyecto_lista_2 li::before,
.proyecto_lista_3 li::before{

    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;

    position: absolute;
    left: 0;
    top: 9px;
}

/*-----------------------------------------*/
/* SEPARACION */
/*-----------------------------------------*/

.proyecto_descripcion > div:not(:last-child){
    margin-bottom: 10px;
}

/* ===== CARRUSEL ===== */
.carousel {
  position: relative;
  overflow: hidden;
}

.carousel_track {
  display: flex;
  transition: transform 0.5s ease; /* animación suave */
}

.carousel_img {
  min-width: 100%;
  height: 100%;
  object-fit: contain; /* 👈 clave */
  background: black; /* opcional, relleno */
}

/* BOTONES */
.carousel_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  width: 50px;
  height: 50px;
  
  display: flex;
  align-items: center;     /* 👈 centra vertical */
  justify-content: center; /* 👈 centra horizontal */

  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 28px;
  line-height: 1; /* 👈 importante para centrar el símbolo */

  cursor: pointer;
  z-index: 10;

  transition: transform 0.25s ease, background 0.25s ease;

  padding: 0; /* ❌ sacamos el padding */
}

.carousel_btn:hover {
  transform: translateY(-50%) scale(1.2); /* 👈 se agranda */
  background: rgba(0,0,0,0.7); /* opcional: más visible */
}

.carousel_btn.prev {
  left: 20px;
}

.carousel_btn.next {
  right: 20px;
}

/* ===== LIGHTBOX ===== */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 20px;
}

.lightbox.active {
  display: flex;
}

/* CRUZ */
.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

/* =======================================================================================
   RESPONSIVE - CELULAR
======================================================================================= */

@media (max-width: 768px) {

    /* =========================
       CONTENEDOR GENERAL
    ========================= */

    body {
        margin-left: 0;
        overflow-x: hidden;
    }


    /* =========================
       NAV
    ========================= */

    nav {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 70px;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 20px;

        z-index: 1000;
    }

    .logo_nav {
        width: 80px;
        height: 80px;
    }

    .logo_nav img {
        margin-top: 0;
    }

    .social_nav {
        margin-left: auto;
    }

    .mail_nav {
        width: 25px;
        height: 25px;
    }


    /* =========================
       TRABAJOS
    ========================= */

    .trabajos {
        margin-top: 100px;
        margin-bottom: 3rem;
    }


    /* =========================
       FILAS
    ========================= */

    .trabajos_fila_1,
    .trabajos_fila_2,
    .trabajos_fila_3 {

        padding: 0 20px;

        display: flex;
        flex-direction: column;

        align-items: center;

        gap: 25px;

        margin-top: 0;
        margin-bottom: 25px;
    }


    /* =========================
       TARJETAS
    ========================= */

    .prueba_1,
    .prueba_2,
    .prueba_3,
    .prueba_4,
    .prueba_5,
    .prueba_6,
    .prueba_7,
    .prueba_8,
    .prueba_9 {

        width: 100%;
        max-width: 500px;

        transform: none !important;
    }


    /* Evitamos que el hover de PC
       genere problemas en celular */

    .prueba_1:hover,
    .prueba_2:hover,
    .prueba_3:hover,
    .prueba_4:hover,
    .prueba_5:hover,
    .prueba_6:hover,
    .prueba_7:hover,
    .prueba_8:hover,
    .prueba_9:hover {

        transform: none;
    }


    /* =========================
       IMÁGENES DE FONDO
    ========================= */

    .prueba_1_fondo,
    .prueba_2_fondo,
    .prueba_3_fondo,
    .prueba_4_fondo,
    .prueba_5_fondo,
    .prueba_6_fondo,
    .prueba_7_fondo,
    .prueba_8_fondo,
    .prueba_9_fondo {

        width: 100%;
        height: auto;
    }


    /* =========================
       TÍTULOS
    ========================= */

    .prueba_1_titulo,
    .prueba_2_titulo,
    .prueba_3_titulo,
    .prueba_4_titulo,
    .prueba_5_titulo,
    .prueba_6_titulo,
    .prueba_7_titulo,
    .prueba_8_titulo,
    .prueba_9_titulo {

        width: 80%;
        max-width: 400px;
    }

}

/* =======================================================================================
   RESPONSIVE - PÁGINAS DE PROYECTOS
======================================================================================= */

@media (max-width: 768px) {

    /* =========================
       BODY
    ========================= */

    body {
        margin-left: 0;
        overflow-x: hidden;
    }


    /* =========================
       NAV
    ========================= */

    nav {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 70px;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 20px;

        z-index: 1000;
    }

    .logo_nav {
        width: 80px;
        height: 80px;
    }

    .logo_nav img {
        margin-top: 0;
    }

    .social_nav {
        margin-left: auto;
    }

    .mail_nav {
        width: 25px;
        height: 25px;
    }


    /* =========================
       CARRUSEL
    ========================= */

    .proyecto_imagenes {
        margin-top: 70px;
    }

    .carousel {
        width: 100%;
        height: 65vw;
        max-height: 500px;
        min-height: 250px;
    }

    .carousel_track {
        height: 100%;
    }

    .carousel_img {
        width: 100%;
        min-width: 100%;
        height: 100%;
        object-fit: contain;
    }


    /* =========================
       BOTONES CARRUSEL
    ========================= */

    .carousel_btn {
        width: 40px;
        height: 40px;

        font-size: 22px;
    }

    .carousel_btn.prev {
        left: 10px;
    }

    .carousel_btn.next {
        right: 10px;
    }


    /* =========================
       DESCRIPCIÓN
    ========================= */

    .proyecto_descripcion {

        width: 90%;

        margin: 70px auto;

        gap: 35px;
    }


    /* =========================
       TÍTULO
    ========================= */

    .proyecto_titulo h1 {
        font-size: 3rem;
    }


    /* Títulos específicos */

    .proyecto_titulo_a_tus_pies img {
        width: 85%;
        max-width: 450px;
        margin-left: 0;
    }

    .proyecto_titulo_ferrari img {
        width: 85%;
        max-width: 450px;
        margin-left: 0;
    }

    .proyecto_titulo_la_ultima_mano img {
        width: 90%;
        max-width: 500px;
    }

    .proyecto_titulo_nostalgia img {
        width: 90%;
        max-width: 500px;

        margin-left: 0;
        margin-bottom: 0;
    }

    .proyecto_titulo_please_me img {
        width: 80%;
        max-width: 400px;

        margin-bottom: 0;
    }

    .proyecto_titulo_take_my_mind img {
        width: 80%;
        max-width: 400px;

        margin-left: 0;
    }

    .proyecto_titulo_take_on_me img {
        width: 70%;
        max-width: 350px;

        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .proyecto_titulo_tasm2 img {
        width: 90%;
        max-width: 450px;
    }

    .proyecto_titulo_verstappen_v_hamilton img {
        width: 85%;
        max-width: 400px;

        margin: 0;
    }


    /* =========================
       SUBTÍTULOS
    ========================= */

    .proyecto_subtitulo_a_tus_pies,
    .proyecto_subtitulo_ferrari,
    .proyecto_subtitulo_la_ultima_mano,
    .proyecto_subtitulo_nostalgia,
    .proyecto_subtitulo_please_me,
    .proyecto_subtitulo_take_my_mind,
    .proyecto_subtitulo_take_on_me,
    .proyecto_subtitulo_tasm2,
    .proyecto_subtitulo_verstappen_v_hamilton {

        margin-top: 10px;

        display: flex;
        flex-direction: column;

        gap: 5px;
    }

    .proyecto_subtitulo_a_tus_pies h2,
    .proyecto_subtitulo_ferrari h2,
    .proyecto_subtitulo_la_ultima_mano h2,
    .proyecto_subtitulo_nostalgia h2,
    .proyecto_subtitulo_please_me h2,
    .proyecto_subtitulo_take_my_mind h2,
    .proyecto_subtitulo_take_on_me h2,
    .proyecto_subtitulo_tasm2 h2,
    .proyecto_subtitulo_verstappen_v_hamilton h2 {

        font-size: 0.8rem;

        letter-spacing: 1.5px;

        line-height: 1.4;
    }


    /* =========================
       DESCRIPCIONES
    ========================= */

    .proyecto_descripcion_1,
    .proyecto_descripcion_2,
    .proyecto_descripcion_3,
    .proyecto_descripcion_4,
    .proyecto_descripcion_5 {

        width: 100%;
        max-width: none;
    }

    .proyecto_descripcion h2 {

        font-size: 1rem;

        line-height: 1.7;

        font-weight: 300;
    }


    /* =========================
       LISTAS
    ========================= */

    .proyecto_lista_1,
    .proyecto_lista_2,
    .proyecto_lista_3 {

        padding-left: 18px;

        width: 100%;
    }

    .proyecto_lista_1 h2,
    .proyecto_lista_2 h2,
    .proyecto_lista_3 h2 {

        font-size: 0.85rem;

        letter-spacing: 1.5px;
    }

    .proyecto_lista_1 li,
    .proyecto_lista_2 li,
    .proyecto_lista_3 li {

        font-size: 0.9rem;

        line-height: 1.5;
    }


    /* =========================
       VIDEO
    ========================= */

    .proyecto_video {

        width: 100%;

        height: 56.25vw;

        min-height: 220px;
        max-height: 500px;
    }

    .proyecto_video iframe {

        width: 100%;
        height: 100%;
    }


    /* =========================
       BOTÓN PLAY
    ========================= */

    .video_boton {

        width: 60px;
        height: 60px;
    }

    .video_boton::before {

        left: 24px;
        top: 17px;

        border-width: 13px 0 13px 21px;
    }


    /* =========================
       LIGHTBOX
    ========================= */

    .lightbox img {

        max-width: 95%;
        max-height: 85%;

        border-radius: 10px;
    }

    .close {

        top: 15px;
        right: 20px;

        font-size: 35px;
    }

}
/* =============================================================================DISENO GRAFICO============================================================================================ */

.proyecto_imagenes_diseno {
    width: 100%;
    max-width: 1800px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.proyecto_imagenes_fila_1,
.proyecto_imagenes_fila_2,
.proyecto_imagenes_fila_3,
.proyecto_imagenes_fila_4{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.proyecto_imagenes_diseno img{
    width: calc((100% - 60px) / 3); /* Siempre 3 imágenes por fila */
    max-width: 600px;              /* Tamaño máximo */
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
    transition: .35s ease;
    cursor: pointer;
}

.proyecto_imagenes_diseno img:hover{
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 18px 40px rgba(0,0,0,.4);
}

/* La última imagen queda centrada */
.proyecto_imagenes_fila_4{
    justify-content: center;
}

.proyecto_imagenes_fila_4 img{
    width: calc((100% - 60px) / 3);
    max-width: 500px;
} 

.proyecto_titulo_nyfc img{
  width: 300px;
  margin-top: 3rem;
  margin-left: -2rem;
}

.proyecto_subtitulo_nyfc {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
}

.proyecto_subtitulo_nyfc h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_f1 img{
  width: 600px;
  margin-top: -17rem;
  margin-left: -3rem;
}

.proyecto_subtitulo_f1 {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -20rem;
}

.proyecto_subtitulo_f1 h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_la_salle img{
  width: 650px;
  margin-top: -17rem;
  margin-left: -5rem;
}

.proyecto_subtitulo_la_salle {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -20rem;
}

.proyecto_subtitulo_la_salle h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_prema img{
  width: 600px;
  margin-top: -13rem;
  margin-left: -3rem;
}

.proyecto_subtitulo_prema {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -17rem;
}

.proyecto_subtitulo_prema h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.proyecto_titulo_la_salle_fc img{
  width: 500px;
  margin-top: -5rem;
  margin-left: -5rem;
}

.proyecto_subtitulo_la_salle_fc {
    display: flow-root;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -8rem;
}

.proyecto_subtitulo_la_salle_fc h2{
    font-size: .95rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

@media (max-width: 768px){

    .proyecto_imagenes_diseno{
        gap: 20px;
        margin: 50px auto;
    }

    .proyecto_imagenes_fila_1,
    .proyecto_imagenes_fila_2,
    .proyecto_imagenes_fila_3{
        gap: 15px;
    }

    .proyecto_imagenes_diseno img{
        width: 42%;
    }

}

@media (max-width: 480px){

    .proyecto_imagenes_diseno img{
        width: 100%;
    }

}

/* LIGHTBOX */

.lightbox{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 9999;
}

.lightbox.activo{
    opacity: 1;
    visibility: visible;
}

.lightbox img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    animation: zoom .3s ease;
}

.cerrar{
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    user-select: none;
    transition: .2s;
}

.cerrar:hover{
    transform: scale(1.2);
}

@keyframes zoom{
    from{
        transform: scale(.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

/* =======================================================================================CV============================================================================================== */

/*====================================================
                IMPORTAR FUENTE
====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


/*====================================================
                VARIABLES
====================================================*/

:root{
  --fondo:#0f0f0f;
  --card:#0d1420;
  --borde:#1d8fff;
  --texto:#ffffff;
  --texto2:#a7b3c7;
}


/*====================================================
                RESET
====================================================*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
  background:var(--fondo);
}


/*====================================================
                CONTENEDOR
====================================================*/

.cv{
  width:100%;
  min-height:100vh;
  padding:40px;
  display:grid;
  gap:22px;
  grid-template-columns:
    320px
    1fr
    1fr
    420px;
  grid-template-rows: auto;
}


/*====================================================
                TARJETAS
====================================================*/

.card{
  background:linear-gradient(
      180deg,
      #0f1725,
      #0a111b
  );
  border:1px solid rgba(52,150,255,.18);
  border-radius:18px;
  padding:24px;
  overflow:hidden;
  position:relative;
  transition:.35s;
}


/*====================================================
            EFECTO HOVER
====================================================*/

.card:hover{
  transform:translateY(-6px);
  border-color:#2d9cff;
  box-shadow:
      0 0 25px rgba(35,150,255,.18),
      inset 0 0 0 1px rgba(35,150,255,.12);
}


/*====================================================
            BRILLO SUPERIOR
====================================================*/

.card::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:2px;
  background:
  linear-gradient(
      90deg,
      transparent,
      #29a0ff,
      transparent
  );
  opacity:.6;
}


/*====================================================
            POSICIÓN DE CADA TARJETA
====================================================*/

.nombre{
  grid-column:1;
  grid-row:1;
}

.experiencia{
  grid-column:2;
  grid-row:1;
}

.educacion{
  grid-column:3;
  grid-row:1;
}

.idiomas{
  grid-column:4;
  grid-row:1;
  height:200px;
}

.intereses{
  grid-column:4;
  grid-row:1;
  margin-top:210px;
}

.habilidades{
  grid-column:1 / 3;
  grid-row:2;
}

.software{
  grid-column:3 / 5;
  grid-row:2;
}


/*====================================================
                NOMBRE
====================================================*/

.nombre{
  display:flex;
  justify-content:center;
  align-items:center;
}


.nombre h1{
  display:flex;
  flex-direction:column;
  line-height:1;
}


.nombre span:first-child{
  font-size:72px;
  color:white;
  font-weight:300;
}


.nombre span:last-child{
  margin-top:12px;
  font-size:82px;
  color:#2da5ff;
  font-weight:700;
}


/*====================================================
                TITULOS
====================================================*/

.titulo{
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:28px;
}


.titulo img{
  width:28px;
  height:28px;
}


.titulo h2{
  color:white;
  font-size:28px;
  font-weight:600;
  letter-spacing:.5px;
}


/*====================================================
                SCROLL
====================================================*/

.contenido-scroll{
  flex: 1;
  overflow-y:auto;
  padding-right:12px;
}


/*====================================================
            SCROLL PERSONALIZADO
====================================================*/

.contenido-scroll::-webkit-scrollbar{
  width:7px;
}

.contenido-scroll::-webkit-scrollbar-track{
  background:#101825;
  border-radius:20px;
}

.contenido-scroll::-webkit-scrollbar-thumb{
  background:#2c9fff;
  border-radius:20px;
}


/*====================================================
            RESPONSIVE
====================================================*/

@media(max-width:1500px){

.cv{
grid-template-columns:
300px
1fr
1fr;

grid-template-rows:
auto
auto
auto
auto;
}

.nombre{
grid-column:1;
}

.experiencia{
grid-column:2;
}

.educacion{
grid-column:3;
}

.idiomas{
grid-column:1;
grid-row:2;
margin:0;
}

.intereses{
grid-column:2;
grid-row:2;
margin:0;
}

.habilidades{
grid-column:1 / 3;
grid-row:3;
}

.software{
grid-column:3;
grid-row:3;
}

}
@media(max-width:1100px){
.cv{
display:flex;
flex-direction:column;
padding:20px;
}

.card{
width:100%;
}
}

/*====================================================
            EXPERIENCIA / EDUCACIÓN
====================================================*/

.item{
  position:relative;
  padding-left:28px;
  padding-bottom:30px;
  margin-bottom:30px;
  border-left:2px solid rgba(45,165,255,.18);
}

.item:last-child{
  margin-bottom:0;
  padding-bottom:0;
}

.item::before{
  content:"";
  position:absolute;
  left:-7px;
  top:4px;
  width:12px;
  height:12px;
  border-radius:50%;
  background:#2da5ff;
  box-shadow:0 0 12px rgba(45,165,255,.6);
}

.fecha{
  display:inline-block;
  margin-bottom:10px;
  color:#2da5ff;
  font-size:.85rem;
  font-weight:600;
  letter-spacing:.8px;
}

.item h3{
  color:#fff;
  font-size:1.15rem;
  margin-bottom:6px;
  font-weight:600;
}

.item h4{
  color:#c4d3e8;
  font-size:.95rem;
  margin-bottom:12px;
  font-weight:500;
}

.item p{
  color:#8f9caf;
  line-height:1.7;
  font-size:.9rem;
}


/*====================================================
                    IDIOMAS
====================================================*/

.lista-idiomas{
  display:flex;
  flex-direction:column;
  gap:22px;
}

.idioma{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  gap:10px;
}

.idioma span{
  color:white;
  font-size:15px;
  font-weight:500;
}

.barra{
  width:100%;
  height:8px;
  border-radius:30px;
  overflow:hidden;
  background:#162231;
}

.nivel{
  height:100%;
  border-radius:30px;
  background:linear-gradient(
      90deg,
      #2da5ff,
      #71c8ff
    );
}


/*====================================================
                    INTERESES
====================================================*/

.intereses ul{
  list-style:none;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:14px;
}

.intereses li{
  display:flex;
  align-items:center;
  gap:10px;
  color:white;
  padding:12px 16px;
  border-radius:12px;
  background:#121d2b;
  border:1px solid rgba(255,255,255,.05);
  transition:.3s;
}

.intereses li::before{
  content:"✦";
  color:#2da5ff;
  font-size:15px;
}

.intereses li:hover{
  transform:translateX(6px);
  border-color:#2da5ff;
  background:#162536;
}


/*====================================================
            EFECTO DE ENTRADA
====================================================*/

.card{
  animation:aparecer .7s ease;
}

@keyframes aparecer{
  from{
      opacity:0;
       transform:translateY(25px);
  }
  to{
      opacity:1;
      transform:translateY(0);
    }
}


/*====================================================
            SCROLL MÁS BONITO
====================================================*/

.contenido-scroll{
  scroll-behavior:smooth;
}

.contenido-scroll::-webkit-scrollbar-thumb:hover{
  background:#5bbcff;
}

/*====================================================
                HABILIDADES
====================================================*/

.grid-habilidades{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:18px;
  margin-top:10px;
}

.habilidad{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:14px;
  background:#121d2b;
  border:1px solid rgba(255,255,255,.05);
  border-radius:16px;
  min-height:140px;
  transition:.35s;
  cursor:pointer;
}

.habilidad:hover{
  transform:translateY(-8px);
  border-color:#2da5ff;
  box-shadow:0 10px 25px rgba(45,165,255,.18);
  background:#182638;
}

.habilidad img{
  width:46px;
  height:46px;
  object-fit:contain;
  filter:brightness(0) invert(1);
  transition:.35s;
}

.habilidad:hover img{
  transform:scale(1.12);
}

.habilidad span{
  color:white;
  text-align:center;
  font-size:.95rem;
  line-height:1.4;
  padding:0 8px;
}


/*====================================================
                    SOFTWARE
====================================================*/

.software{
  display:flex;
  flex-direction:column;
}

.programa{
  display:flex;
  align-items:center;
  gap:18px;
  margin-bottom:22px;
}

.programa:last-child{
  margin-bottom:0;
}

.programa span{
  display:block;
  margin-bottom:8px;
  color:white;
  font-size:15px;
  font-weight:500;
}

.programa .barra{
  width:100%;
  height:10px;
  background:#162231;
  border-radius:50px;
  overflow:hidden;
  position:relative;
  flex: 1;
}

.programa .nivel{
  height:100%;
  border-radius:50px;
  background:linear-gradient(
      90deg,
      #2da5ff,
      #7fd1ff
  );
  transition:width .8s ease;
  position:relative;
}

.programa .nivel::after{
  content:"";
  position:absolute;
  right:0;
  top:0;
  width:40px;
  height:100%;
  background:linear-gradient(
      90deg,
      transparent,
      rgba(255,255,255,.45)
  );
}

.info-programa{
  width:260px;
  display:flex;
  align-items:center;
  gap:14px;
  flex-shrink:0;
}

.info-programa img{
  width:28px;
  height:28px;
  object-fit:contain;
}

.info-programa span{
  color:white;
  font-size:15px;
  font-weight:500;
}


/*====================================================
            EFECTO GENERAL
====================================================*/

.card{
  backdrop-filter:blur(12px);
}


/*====================================================
            BORDE ILUMINADO
====================================================*/

.card::after{
  content:"";
  position:absolute;
  inset:0;
  border-radius:18px;
  padding:1px;
  background:linear-gradient(
      135deg,
      rgba(45,165,255,.25),
      transparent,
      rgba(45,165,255,.08)
    );

  -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);

  -webkit-mask-composite:xor;
  mask-composite:exclude;
  pointer-events:none;
}


/*====================================================
            TRANSICIONES
====================================================*/

.card,
.habilidad,
.programa .nivel,
.intereses li{
  transition:.35s;
}


/*====================================================
            RESPONSIVE
====================================================*/

@media(max-width:1400px){

    .grid-habilidades{
        grid-template-columns:repeat(3,1fr);
    }
}

@media(max-width:1000px){

    .grid-habilidades{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:650px){
    .grid-habilidades{
      grid-template-columns:1fr;
   }
}

.oculto{
  opacity:0;
  transform:translateY(40px);
}

.mostrar{
  opacity:1;
  transform:translateY(0);
  transition:.8s ease;
}